<IfModule mod_rewrite.c>  
    Options +FollowSymLinks
    RewriteEngine On
    
    # If the file IS found and matches one of our file types, 
    # let it pass through without being routed, otherwise route
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule \.(css|js|png|jpg|jpeg|pdf|gif|ico)$ - [NC,L]
    RewriteRule ^(.*)$ public_html/index.php [L,QSA]  

    #php_value post_max_size 32M
    #php_value upload_max_filesize 24M
</IfModule>  
